

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
  </div>
  
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
		<strong>Success:</strong> {{successMessage}}
	</div>

  <div class="row">
      <h2> Prosumer </h2>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Enter Prosumer Info</strong></div>
        <div class="panel-body">
          <form [formGroup]="myForm">
            
            <p>Name: <input formControlName="name" type="text" class="form-control inlineInput">
            </p>

            <p>Coins Balance: <input formControlName="coinsValue" type="number" step='any' class="form-control inlineInput">
            </p>
            
            <p>Energy Token : <input formControlName="tokenValue" type="number" step='any' class="form-control inlineInput">
            </p>
            
            <p>Rate: <strong>1 Token = 1 kwh, 1 Coin = 1 Token </strong>
            </p>
            <br>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col-md-offset-4 col-md-4">
      <button (click)="add();" type="button" class="btn btn-success" data-toggle="modal" >Add Prosumer</button>
      <button (click)="delete();" type="button" class="btn btn-warning" data-toggle="modal" >Delete Prosumer</button>
    </div>
  </div>

</div>