

<div class="container">
  <div class="row">  
      <p> 
        A key application of Blockchain being currently explored is a Decentralized Energy network.  The idea stems from a neighborhood where certain Prosumers are producing energy through Solar panels or other means, and can sell excess energy to Consumers (Electric Cars) needing energy.  The transactions would be based on coins in each Resident's account.  As per a per-determined contract and rate, the coins would be debited from the consumer and credited to the producer, for a certain billing period.  Each transaction would be added to the Blockchain ledger for trust and verification. 
      <p>
        In this journey, we are making an application using SAP Hyperledger Fabric Service which would create Prosumer and Consumer account on the network with their account balances, and to execute transactions among themselves. The journey demonstrates atomic transaction between the participants and updates their balances as per the transaction. 
      </p>
      <p>
        The application uses an Angular framework for front-end and currently allows users to manually create one Prosumer and one Consumer account and Execute transactions.  Currently this application demonstrates the basic idea of a decentralized energy network and can be expanded in numerous ways:  adding specific permissions and channel, setting up real time transactions among participants, and even integrating with more sophisticated IoT to read from power meter and distributing energy.  
      </p>
  </div> 

  
</div>